@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  font-family: Arial, Helvetica, sans-serif;
}

@layer base {
  :root {
    --background: 0 0% 100%;
    --foreground: 262 21% 11%;
    --card: 0 0% 100%;
    --card-foreground: 262 21% 11%;
    --popover: 0 0% 100%;
    --popover-foreground: 262 21% 11%;
    --primary: 282 100% 58%;
    --primary-foreground: 0 0% 98%;
    --secondary: 0 0% 96.1%;
    --secondary-foreground: 0 0% 9%;
    --muted: 0 0% 96.1%;
    --muted-foreground: 0 0% 45.1%;
    --accent: 282 100% 58%;
    --accent-foreground: 0 0% 98%;
    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 0 0% 98%;
    --border: 0 0% 89.8%;
    --input: 0 0% 89.8%;
    --ring: 282 100% 58%;
    --chart-1: 282 100% 58%;
    --chart-2: 292 90% 65%;
    --chart-3: 302 80% 70%;
    --chart-4: 180 100% 50%;
    --chart-5: 190 90% 55%;
    --radius: 0.5rem;
    --sidebar-background: 262 21% 15%;
    --sidebar-foreground: 0 0% 98%;
    --sidebar-primary: 282 100% 58%;
    --sidebar-primary-foreground: 0 0% 98%;
    --sidebar-accent: 262 21% 25%;
    --sidebar-accent-foreground: 0 0% 98%;
    --sidebar-border: 262 21% 20%;
    --sidebar-ring: 282 100% 58%;
  }
  .dark {
    --background: 262 21% 11%;
    --foreground: 0 0% 98%;
    --card: 262 21% 15%;
    --card-foreground: 0 0% 98%;
    --popover: 262 21% 15%;
    --popover-foreground: 0 0% 98%;
    --primary: 282 100% 58%;
    --primary-foreground: 282 100% 10%;
    --secondary: 262 21% 25%;
    --secondary-foreground: 0 0% 98%;
    --muted: 262 21% 25%;
    --muted-foreground: 0 0% 63.9%;
    --accent: 282 100% 58%;
    --accent-foreground: 0 0% 98%;
    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 0 0% 98%;
    --border: 262 21% 20%;
    --input: 262 21% 20%;
    --ring: 282 100% 58%;
    --chart-1: 282 100% 58%;
    --chart-2: 292 90% 65%;
    --chart-3: 302 80% 70%;
    --chart-4: 180 100% 50%;
    --chart-5: 190 90% 55%;
    --sidebar-background: 262 21% 11%;
    --sidebar-foreground: 0 0% 98%;
    --sidebar-primary: 282 100% 58%;
    --sidebar-primary-foreground: 282 100% 10%;
    --sidebar-accent: 262 21% 25%;
    --sidebar-accent-foreground: 0 0% 98%;
    --sidebar-border: 262 21% 20%;
    --sidebar-ring: 282 100% 58%;
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
}
